<div class="row">
  <div class="col-sm-6">
    <form [formGroup]="hotelForm" (submit)="submit(hotelForm.value)">
      <div class="form-group">
        <label for="name">Hotel:</label>
        <input type="text" id="name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <select id="city" class="form-control" formControlName="cityId">
          <option *ngFor="let city of cities | async" [value]="city.$key">{{city.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!hotelForm.valid">Create hotel</button>
    </form>
  </div>
</div>
